aside.aside-general-navigation {
    background-image: linear-gradient(var(--primary-blue), var(--sky));
    width: var(--aside-general-navigation-width);
    color: var(--white);
}
aside.aside-general-navigation #company-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--company-name-size);
}
aside.aside-general-navigation #company-logo {
    width: var(--company-logo-size);
    height: var(--company-logo-size);
    padding-right: var(--company-logo-padding);
}
aside.aside-general-navigation .user-avatar {
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
}
aside.aside-general-navigation .user-avatar #user-avatar-img {
    width: var(--avatar-size);
    height: var(--avatar-size);
    position: relative;
    top: 0;
    left: 0;
}
aside.aside-general-navigation .user-avatar #user-avatar-bell {
    width: var(--avatar-bell);
    height: var(--avatar-bell);
    position: absolute;
    top: 0;
    right: var(--avatar-bell-position-right);
}
aside.aside-general-navigation .user-avatar #user-avatar-text {
    font-size: var(--avatar-text-size);
}
aside.aside-general-navigation .aside-general-hr {
    border: 0.063rem solid var(--white);
}
aside.aside-general-navigation #general-navigation ul,
aside.aside-general-navigation #help-navigation ul {
    list-style-type: none;
}
aside.aside-general-navigation ul {
    padding: var(--aside-general-navigation-ul-padding);
}
aside.aside-general-navigation ul li.active {
    background-color: var(--white);
    color: var(--primary-blue);
    border-top-right-radius: var(--general-nav-active-border-radius);
    border-bottom-right-radius: var(--general-nav-active-border-radius);
}
aside.aside-general-navigation #general-navigation ul li {
    padding: var(--general-nav-padding-height)
             0
             var(--general-nav-padding-height)
             var(--general-nav-padding-left);
}
aside.aside-general-navigation #general-navigation .general-nav-icon {
    width: var(--general-nav-icon-size);
    height: var(--general-nav-icon-size);
}
aside.aside-general-navigation #help-navigation ul li {
    padding: var(--general-nav-padding-height)
             0
             var(--general-nav-padding-height)
             var(--general-nav-padding-left);
}
aside.aside-general-navigation #help-navigation .help-nav-icon {
    width: var(--general-nav-icon-size);
    height: var(--general-nav-icon-size);
}
aside.aside-general-navigation .aside-nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80%;
}

