main #main-content .aside-main-navigation {
    width: var(--aside-main-navigation-width);
    position: relative;
    background-color: var(--white);
}
main #main-content .aside-main-navigation #plus-icon {
    position: absolute;
    width: var(--plus-icon-size);
    height: var(--plus-icon-size);
    left: var(--aside-main-navigation-plus-icon-left);
    right: var(--aside-main-navigation-plus-icon-right); 
    bottom: 0;
    padding: var(--aside-main-navigation-plus-icon-padding);
}
main #main-content .aside-main-white-space {
    height: var(--aside-main-white-space-heigth);
    background-color: var(--blue-gray-2);
}
main #main-content .aside-main-navigation .aside-main-nav-channel {
    margin: 0;
    background-color: var(--blue-gray-1);
    padding: var(--aside-main-navigation-padding-left);
    font-size: var(--aside-main-nav-channel-size);
}
main #main-content .aside-main-navigation .aside-main-nav,
main #main-content .aside-main-navigation .aside-main-sub-nav {
    list-style-type: none;
}
main #main-content .aside-main-navigation .aside-main-nav {
    padding-left: var(--aside-main-navigation-padding-left);
}
main #main-content .aside-main-navigation .aside-main-nav li,
main #main-content .aside-main-navigation .aside-main-sub-nav li {
    padding: var(--aside-main-nav-padding) 0;
}