
:root {
    --primary-blue: #3877F6;
    --sky: #61CFFA;
    --white: #FFFFFF;
    --blue-gray-1: #DFE8F6;
    --blue-gray-2: #F4F7FC;
    --aside-general-navigation-width: 17%;
    --aside-general-navigation-ul-padding: 0 0.5rem;
    --main-width: 83%;
    --company-logo-size: 1.75rem;
    --company-logo-padding: 0.688rem;
    --company-name-size: 0.75rem;
    --avatar-size: 3rem;
    --avatar-bell: 1.063rem;
    --avatar-bell-position-right: 7.25rem;
    --avatar-text-size: 0.875rem;
    --general-nav-icon-size: 1.25rem;
    --general-nav-padding-height: 1.5rem;
    --general-nav-padding-left: 0.563rem;
    --general-nav-active-border-radius: 0.5rem;
    --plus-icon-size: 2.313rem;
    --tab-info-nav-padding-top-bottom: 1.25rem;
    --tab-info-nav-padding-right: 2.5rem;
    --tab-info-nav-padding-left: 0.5rem;
    --tab-info-nav-border-radius: 0.313rem 0.313rem 0 0;
    --breadcrumb-header-ul-padding: 0.688rem 0 0.688rem 1.5rem;
    --breadcrumb-header-before-padding: 0.5rem;
    --header-h1-size: 1.5rem;
    --header-h1-padding: 1.5rem;
    --aside-main-navigation-width: 17%;
    --aside-main-navigation-padding-left: 0.5rem;
    --aside-main-navigation-plus-icon-padding: 0 3.226rem 1.976rem 3.226rem;
    --aside-main-navigation-plus-icon-left: 20%;
    --aside-main-navigation-plus-icon-right: 30%;
    --aside-main-nav-channel-size: 0.875rem;
    --aside-main-nav-padding: 0.5rem;
    --aside-main-white-space-heigth: 5.375rem;
    --tab-info-content-p-size: 0.875rem;
    --tab-info-content-p-padding: 1.5rem 0 1.5rem 3.125rem;
    --tab-info-content-country-menu-btn-margin: 0 0 0 3.125rem;
    --tab-info-content-country-menu-btn-width: 26.25rem;
    --tab-info-content-country-menu-btn-padding: 1.25rem 0;
    --tab-info-content-menu-scroll-size: 1.25rem;
    --tab-info-content-menu-scroll-margin: 3rem 1.25rem 0 1.25rem;
    --form-menu-input-height: 3rem;
    --form-menu-input-width: 17.563rem;
    --footer-padding: 2.125rem 0;
    --large-btn-padding: 0.625rem 1rem;
    --large-btn-bottom: 2.125rem;
    --large-btn-width: 15.5rem;
    --large-btn-height: 2.25rem;
    --large-btn-border-radius: 0.25rem;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

main {
    width: var(--main-width);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    position: relative;
    padding: var(--footer-padding);
}

footer button.large-button {
    position: absolute;
    left: 26.5rem;
    padding: var(--large-btn-padding);
    bottom: var(--large-btn-bottom);
    height: var(--large-btn-height);
    width: var(--large-btn-width);
    background-color: var(--primary-blue);
    color: var(--white);
    text-decoration: none;
    border: none;
    border-radius: var(--large-btn-border-radius);
}
